[Desktop Entry]
Version=1.0
Name=arduino-bin
Comment=Open-source electronics prototyping platform
Exec=arduino-bin
Icon=arduino
Terminal=false
Type=Application
Categories=Development;
StartupNotify=false
